/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    column-gap: 30px;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: transparent;
}

.form.signup,
.form.forgot-password {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup,
.forms.show-forgot-password .form.forgot-password {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login,
.forms.show-forgot-password .form.login,
.forms.show-signup .form.forgot-password,
.forms.show-forgot-password .form.fieldsignup {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.fieldsignup {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button,
.fieldsignup input,
.fieldsignup button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input,
.fieldsignup input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
    overflow: hidden;
}

.field input:focus,
.fieldsignup input {
    border-bottom-width: 2px;
}

.field input,
.fieldsignup input {
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    font-size: 1em;
    flex-wrap: wrap;
}

.field span,
.fieldsignup span {
    position: absolute;
    left: 0;
    padding: 13px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
    color: grey;
    letter-spacing: 0.1em;
    flex-wrap: wrap;
}

.field input:focus~span,
.field input:valid~span,
.fieldsignup input:focus~span,
.fieldsignup input:valid~span {
    font-size: 0.7em;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 5px;
    border-radius: 2px;
    background: white;
    letter-spacing: 0em;
    border: white;
}

/* New now */
.fieldsignup.success input {
    border-color: #09c372;
}

.fieldsignup.error input, .field.error input {
    border-color: #ff3860;
}

.fieldsignup .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

.eye-icon1,
.eye-icon2 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button,
.fieldsignup button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover,
.fieldsignup button:hover {
    background-color: #016dcb;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

#DentalIcons {
    display: flex;
    max-height: 100px;
    margin: auto;
    align-items: center;
    justify-content: end;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }
}