* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header{
    background: #3a3a88;
    color: #fff;
    padding: 15px 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container{
    display: flex;
    align-items: center;
}

.container img {
    width: 30px; 
}

.container h1{
    font-size: 25px;
    display: flex;
    align-items: center;
}

header h1 {
    color: #fff;
    font-size: 1.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 50px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover{
    color: #00bfff;
}

.hero {
    background-image: url('fam.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
}

.hero-content {
    color: white;
}

.hero-content h2 {
    font-size: 3rem;
    margin-top: 150px;
    margin-left: 50px;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    margin-left: 50px;
}

.hero img {
    width: 300px;
    height: auto;
}

.hero .overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services {
    padding: 40px 20px;
    text-align: center;
    background: #fff;
}

.services h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-item {
    background: lightgrey;
    padding: 20px;
    border-radius: 10px;
}

.service-item h3 {
    color: #000000;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #00bfff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover{
    background-color: #007acc;
}

footer {
    background: #3a3a88;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer .footer-info {
    width: 30%;
}

footer .footer-info a{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-container p {
    font-size: 14px;
}


.footer-container {
    text-align: center;
    margin-top: 20px;
}
